<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>open layers map</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
    <link rel="stylesheet" href="{%static 'css/libs/v6.4.3-dist/ol.css' %}">

    <script src="{%static 'css/libs/v6.4.3-dist/ol.js' %}"></script>
</head>
<body>
    <div class="grid-container">
        <div class="grid1">
            <div class="sidebar">
                <h2>Choose Layer</h2>
                <input type ="radio" name="layerbutotn" value="OSM_Standard"  >OSM_Standard<br>
                <input type ="radio" name="layerbutton" value="OSM_Humanitarian">OSM_Humanitarian<br>
                <input type ="radio" name="layerbutton" value="Stamen_Terrain">Stamen_Terrain<br>
            </div>
        </div>
        <div class="grid2">
            
            Fill in the cities you want to visit
            

            <form action="locs">
                {% csrf_token %}
                Enter 1st loc :<input type="text" name="l01"><br>
                Enter 2nd loc :<input type="text" name="l02"><br>
                Enter 3rd loc :<input type="text" name="l03"><br>
                Enter 4th loc :<input type="text" name="l04"><br>
                Enter 5th loc :<input type="text" name="l05"><br>
                Enter 6th loc :<input type="text" name="l06"><br>
                Enter 7th loc :<input type="text" name="l07"><br>
                Enter 8th loc :<input type="text" name="l08"><br>
                Enter 9th loc :<input type="text" name="l09"><br>
                Enter 10th loc :<input type="text" name="l10"><br>
                <input type="submit">

            </form>

                       
        </div>
        
    </div>
    
    {% load static %}
    <script src="{%static 'css/main.js' %}"></script>
    <script src="{%static 'css/libs/v6.4.3-dist/ol.js' %}"></script>
</body>
</html>